{%extends "layout.html"%}
{% load static %}
{% block title %} Item Details {% endblock %}
{%block content%}
<div class="about">

    <h1>{{item.writtenId}}  {{item.name }}</h1>
      <h4>Category:</h4>
        {{ item.department }}
      <h4>In stock?</h4>
        {{ item.in_Stock }}
      <h4>Checked Out to:</h4>
        {{ item.checked_Out_To }}
      <h4>Due Back:</h4>
        {{ item.due_Back }}
      <h4>Condition:</h4>
        {{ item.condition }}
      <h4>Added:</h4>
         {{ item.date_Added }}
      <h4>Donated By:</h4>
        {{ item.donor }}

</div>
{%endblock%}
