{%extends "layout.html"%}
{% load static %}
{% block title %} Item Details {% endblock %}
{%block content%}
<div class="about">

    <h1>{{item.writtenId}}  {{item.name }}</h1>
    <br>
    <ul class="list-unstyled">
    <li>
      {% if request.user.is_authenticated %}
      <h4>Checked Out to:</h4>  {{ item.checked_Out_To }}
      {% endif %}
    </li>
    {% if request.user.is_authenticated %}
    <a href ="{% url 'checkOut' item.id %}">Checkout or Return this item?</a>
    {% endif %}
    <li><h4>Due Back:</h4>{{ item.due_Back }}</li>
    <li><h4>Condition:</h4>{{ item.condition }}</li>
    <li><h4>Category:</h4>{{ item.department }}</li>
    <li>
      {% if request.user.is_authenticated %}
      <h4>Donated By:</h4> {{ item.donor }} on {{ item.date_Added }}
      {% endif %}
    </li>
    </ul>

</div>
{%endblock%}
